<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="https://stat.jrmf360.com/public/pocketXinshui/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://stat.jrmf360.com/public/pocketXinshui/css/signState.css">
    <title>信息未找到</title>
  </head>
  <body>
    <div class="header">
      <img src="https://stat.jrmf360.com/public/pocketXinshui/images/sign_fail.png" width="100%">
    </div>

    <p class="tip">您合作的商户目前尚未上传您的任何信息，请联系商户</p>

  </body>
</html>
